@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Inter", monospace;
}

body {
    min-height: 100vh;
    background-color: #2b2d42;
}

a {
    text-decoration: none;
    color: white;
}

body > #container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header,
#footer {
    flex: 0 0 auto;
}

#container > #header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    display: flex;
}

#header > .scoreboard {
    width: 450px;
    height: 100px;

    background-color: #8d99ae;
    border-radius: 5px;
    margin: 25px;

    justify-content: space-between;
    align-items: center;
}

.scoreboard > .user-container,
.scoreboard > .cpu-container {
    background-color: white;
    width: 25%;
    height: 85%;
    border-radius: 5px;
    margin: 0px 12px;

    display: flex;
    flex-direction: column;
}

.scoreboard > .title-container {
    height: 85%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container > .title {
    width: 60%;
    color: white;
    font-family: "IBM Plex Mono";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.user-container > .user-title,
.cpu-container > .cpu-title {
    font-size: 12px;
    flex: 0 0 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container > .user-score,
.cpu-container > .cpu-score {
    font-size: 45px;
    font-weight: bold;
    flex: 0 0 75%;

    display: flex;
    justify-content: center;
}

#container > #choices-display {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#choices-display > .choice-container {
    height: 325px;
    width: 325px;
    margin: 25px 0px;
    border-radius: 12px;
    background-color: #505168;

    display: flex;
    flex-direction: column;
}

.choice-container > .user-choice-title,
.choice-container > .cpu-choice-title {
    color: #fff;
    font-size: 28px;
    height: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-container > .user-choice,
.choice-container > .cpu-choice {
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-choice > .img-choice,
.cpu-choice > .img-choice {
    visibility: hidden;
    width: 80%;
    height: 80%;
}

#choices-display > .info-text {
    margin: 0px 25px;
    height: 300px;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text > .status {
    width: 80%;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;

    margin: 16px 0px;
}

.info-text > .detailed-info {
    width: 85%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#container > #choices-picker {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.picker-button {
    background-color: transparent;
    border-radius: 12px;
    margin: 35px 0px;
    height: 150px;
    width: 150px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.picker-button:hover {
    background-color: #505168;
}

.picker-button:active {
    background-color: #787992;
}

.picker-button > img {
    height: 70%;
    width: auto;
}

#container > #footer {
    height: 48px;
    color: #fff;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
